<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DatePicker Example</title>


</head>
<body class="weight-form">

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Weight progress{% endblock %}

{% block page_content %}
<h1 class="weight-title">Kalkulator przyrostu masy ciała niemowląt</h1>
<br/>
<br/>
<br/>
<form method="post" action="">
    {{ form.hidden_tag() }}
    <div class="form-group required">
        <label class="control-label" for="initial_date">DATA pierwszego pomiaru (miesiąc/dzień/rok)</label>
        {{ form.initial_date(class="dtpick form-control",required=true) }}
    </div>
    <br/>
    <div class="form-group required">
        <label class="control-label" for="initial_weight">MASA CIAŁA pierwszy pomiar (w gramach)</label>
        {{ form.initial_weight(class="form-control",required=true)}}
    </div>
    <br/>
    <div class="form-group required">
        <label class="control-label" for="actual_date">DATA drugiego pomiaru (miesiąc/dzień/rok)</label>
        {{ form.actual_date(class="dtpick form-control",required=true) }}
    </div>
    <br/>
    <div class="form-group required"><label class="control-label" for="actual_weight">MASA CIAŁA drugi pomiar (w
        gramach)</label>
        {{ form.actual_weight(class="form-control",required=true)}}
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-default weight" type="submit">Sprawdź przyrost masy ciała</button>
        </div>
    </div>
</form>

{% endblock %}


{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
	$(function() {
		$( ".dtpick" ).datepicker();
	});





</script>
{% endblock %}
</body>
</html>
